@{
    ViewData["Title"] = "MARS";
   
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
@await Component.InvokeAsync("MakaleListele")


<!-- await Component.InvokeAsync("MakaleListele2") başına et işareti koy-->
<vc:makale-listele2> </vc:makale-listele2>
<!-- TAG HELPERLA -->