@{
    ViewData["Title"] = "Ask Us";
    string makaleler = "mk1; mk2; mk3"; 
}
<h1>@ViewData["Title"]</h1>
@await Component.InvokeAsync("MakaleListele2", makaleler)

<p>Use this page to detail your site's privacy policy.</p>
